@model PartsInventoryV6.Inventory

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm("Create", "Inventories", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Inventory</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.DESCRIPTION, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DESCRIPTION, new { htmlAttributes = new { @class = "form-control", @id = "descriptionEditor", @required = "required" } })
            @Html.ValidationMessageFor(model => model.DESCRIPTION, "", new { @class = "text-danger" })
        </div>
        <asp:RequiredFieldValidator ID="RequireRdName" runat="server" ErrorMessage="You must provide a Road Name." style="font-weight: 700; color: #FF0000" ControlToValidate="descriptionEditor"></asp:RequiredFieldValidator>
    </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OLD_NUMBER, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OLD_NUMBER, new { htmlAttributes = new { @class = "form-control", @required = "required", @type = "number", @value = "0" } })
                @Html.ValidationMessageFor(model => model.OLD_NUMBER, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NEW_NUMBER, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NEW_NUMBER, new { htmlAttributes = new { @class = "form-control", @id = "newNumEditor", @required = "required", @type = "number", @value = "0" } })
                @Html.ValidationMessageFor(model => model.NEW_NUMBER, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UNIT_OF_ISSUE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UNIT_OF_ISSUE, new { htmlAttributes = new { @class = "form-control", @id = "sysEditor", @required = "required" } })
                @Html.ValidationMessageFor(model => model.UNIT_OF_ISSUE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SYS_CODE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SYS_CODE, new { htmlAttributes = new { @class = "form-control", @id = "oldNumEditor", @required = "required" } })
                @Html.ValidationMessageFor(model => model.SYS_CODE, "", new { @class = "text-danger" })
            </div>
        </div>
       

        <div class="form-group">
            @Html.LabelFor(model => model.PostedFile, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.PostedFile, null, new { type = "file", @class = "input-file" })
                @Html.ValidationMessageFor(model => model.PostedFile, "", new { @class = "error" })
            </div>
        </div>




        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
        <br />
        <span style="color:green">@Html.Raw(ViewBag.Message)</span>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
