@model PartsInventoryV6.Inventory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Inventory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPTION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPTION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OLD_NUMBER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OLD_NUMBER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NEW_NUMBER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NEW_NUMBER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UNIT_OF_ISSUE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UNIT_OF_ISSUE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SYS_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SYS_CODE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
